*  {
	outline: 1px solid rgba(245, 0, 0, 0.4)
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-transition: border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

body {
	
}

.yellow {
	background: yellow;
}
.container{
	width: 90%;
	margin: 0 auto;
	max-width: 1000px;
	overflow: hidden;  
}

.clearfix {
	display: table;
}

.clearfix:after{
	content:"";
	clear: both;
}

/* Seccion header */
.hero{
    background: url(../img/home.jpg)no-repeat;
    background-size: cover;
    height: 550px;
}
header{
    background-color:#f8f8f8;
}
header h2{
    font-size: 16px;
    margin-top: 20px;
}
header nav{
    margin-top: 13px;
  
}

.list-inline {
	text-align: right;
}

ul li a{
	color: black;
	padding: 20px 10px;
}

.hero .caja{
    width: 660px;
    text-align: center;
    position: relative;
    top: 210px;
    left: 250px;
}
.hero h3{
    font-size: 36px;
    color: white;
}
.hero p{
    font-size: 14px;
    color: black;
}
.hero button{
    background-color:#337ab7;
    padding: 7px 17px 7px 17px;
    color: white;
    border-radius: 5px;
}

header {
	width: 100%;
	height: 100px;
	overflow: hidden;
}

header .logo {
	width: 25%;
	float: left;
	margin-top: 10px;
}

.icon-menu {
	font-size: 40px;
	display: none;
	background: none;
	text-decoration: none;	
}

header nav {
	float: right;
	font-family: Open+Sans;
}

header nav a {
	display:inline-block;
	padding:10px 10px;
	font-size: 12px;
	font-family: "arial";
	text-decoration: none;
	line-height: normal;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;	
}

header nav a:hover {
	background-color: #ffd27f;
}

/* Seccion hero */
.hero {
	background: url(../img/home.jpg) no-repeat;
	background-size: cover;
	height: 400px;
	margin: 0 auto;
	margin-bottom: 40px;
}	

.inner {
	width: 600px;
	height: 200px;
	
}

.inner, .main-title {
	position: relative;
	top:50%;
	transform: translateY(-50%);
	margin: 0 auto;
}

.main-title {
	color: #fff;
	text-align: center;
}

/* footer */
footer {
	background-color: #00001a;
	width: 100%;
	height: auto;
	clear: both;
	margin-top: 40px;
	line-height: 100px;
	vertical-align: middle;

}

footer span{
	color: grey;
}

/* Responsive */
@media screen and (max-width : 920px) {
	
	}


@media screen and (max-width: 600px) {
	
	header nav {
		display: none;
	}

	.container {
        width: 95%;  
    }
	
  	.menu-bar {
  		display: block;
  		width: 100%;
  		position: fixed;
  		top: 0;
  	}

  	.menu-bar .bt-menu, .logo {
  		display: block;
  		padding: 20px;
  		overflow: hidden;
  		font-size: 25px;
		text-decoration: none;
  	}

  	.menu-bar span {
  		float: right;
  		font-size: 50px;
  		display: inline-block;
  		padding: 20px 40px 20px 0;
  	}

  	.banner .logo {
  		width: 50%;
  		height: auto;
  	}

    .inner {
        width: 90%;
    }

    .main-title{
    	font-size: 50px;
    }

    .hero .inner p {
    	font-size: 15px;
    }

}