*  {
	outline: 1px solid rgba(245, 0, 0, 0.4)
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-transition: border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

body {
	font-family: Open+Sans;
}

.container{
	width: 90%;
	margin: 0 auto;
	max-width: 1000px;
	overflow: hidden;  
}

.clearfix {
	display: table;
}

.clearfix:after{
	content:"";
	clear: both;
}

/* Seccion header */
header h4 {
    margin-top: 25px;
    color: #808080;
}
header nav {
    margin-top: 13px;
}

header nav a {
	color: #808080;
	display:inline-block;
	padding:10px 10px;
	text-decoration: none;
	border-radius: 6px;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;	
}

header nav a:hover, nav li a:focus {
	background-color: #cccccc;
	color: #FFF;
	text-decoration: none;
	outline: none;
}

#main-navigation {
	z-index: 1;
	position: absolute;
	right: 10px;
	margin: 10px 0 0 0;
}
#main-navigation ul {
	background: #337ab7;
	list-style: none;
	padding: 10px;
	border-radius: 5px;
}
#main-navigation ul a{
	color: #FFF;
}

#burger-button{
	
	background-color: #FFF;
}
/* Seccion hero */
.jumbotron{
    background: url(../img/home.jpg) no-repeat;
    background-size: cover;
    min-height: 450px;
}

.main-title {
	font-size: 30px;
    color: #fff;
}
.participa {
	display: block;
	padding-bottom: 10px;
}
	
/* footer */
footer {
	background-color: #00001a;
	width: 100%;
	height: auto;
	clear: both;
	margin-top: 40px;
	line-height: 100px;
	vertical-align: middle;

}

footer span{
	color: grey;
}

/* Responsive */
@media screen and (max-width:600px)
{
	.inner{
    position:absolute;
    top: 25px;
	transform: translateX(-50%);
}
	.main-title {
	font-size: 15px;
}
	

}

@media screen and (max-width:768px)
{
	.inner{
    position:absolute;
   top:50px;
	transform: translateX(-50%);
}
	.main-title {
	font-size: 25px;
}
	

}
@media screen and (max-width:999px)
{
	.inner{
    position:absolute;
    padding-top: 70px;
	transform: translateX(-50%);
}

@media screen and (max-width:999px) and (min-width:768px)
{
	.inner{
    position:absolute;
    top:70px;
	transform: translateX(-50%);
}
	.desktop-menu
	{
		text-align: center;
	}
}